<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list>
        <v-list-item @click="main" class="item_hover">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
            <v-list-item-title>Home</v-list-item-title>
        </v-list-item>

        <v-list-item
          @click="logout"
          class="item_hover">
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
            <v-list-item-title>Log out</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      color="#0286ab"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="margin-left:10px;">Form-docment</v-toolbar-title>
      <div class="flex-grow-1"></div>
    </v-app-bar>
       <v-content>
        <v-row
          align="center"
          justify="center"
        >
        <router-view/>
        </v-row>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: null,
      left: false
    }
  },
  methods: {
    main () {
      this.$router.push({ path: 'home' })
    },
    logout () {
      localStorage.username = ''
      localStorage.password = ''
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style>
 .item_hover:hover {
   background-color: rgb(70, 169, 194);
 }
 .avatar {
   margin-right: 1em;
 }
</style>
