<template>
    <v-container>
        <v-card
          class="mx-auto"
          max-width="800"
        >
        <div>
            <div ref="title">
                <v-card-title>
                 <span style="margin-left: auto; margin-right: auto;">
                    <font bold size='20'>Document</font>
                </span>
               </v-card-title>
            </div>
            <div ref="content">
               <v-card-text>
                   <span>
                      <h2>HTTP Status Codes</h2>
                   </span>
                    <h4 style="margin-top:1em;">
                        httpstatuses.com is an easy to reference database of HTTP Status Codes with their definitions and helpful code references all in one place. Visit an individual status code via httpstatuses.com/code or browse the list below.
                    </h4>
               </v-card-text>
            </div>
            <div ref="status">
                <v-card-text>
                    <ul>
                    <li>1×× Informational
                    </li>
                    <li>2×× Success
                    </li>
                    <li>3×× Redirection
                    </li>
                    <li>4×× Client Error
                    </li>
                    <li>5×× Server Error
                    </li>
                    </ul>
                </v-card-text>
            </div>
            <div ref="create_by">
                <v-card-text>
                    <span>
                      <h2 style="margin-left: 85%;">By: {{username}}</h2>
                    </span>
                </v-card-text>
            </div>
            <v-row>
                <div style="margin-top: 0.5em; margin-left: auto; margin-right: auto;">
                    <v-btn
                        color="blue-grey"
                        class="ma-2 white--text"
                        @click="download"
                        >
                        Download file PDF
                        <v-icon right dark>mdi-cloud-download</v-icon>
                    </v-btn>
                </div>
            </v-row>
        </div>
        </v-card>
    </v-container>
</template>
<script>
import jsPDF from 'jspdf'
export default {
  mounted () {
    if (!this.username && !this.password) {
      this.$router.push({ path: '/' })
    }
  },
  data: () => ({
    username: localStorage.username,
    password: localStorage.password
  }),
  methods: {
    download () {
      const doc = jsPDF()
      const titleHtml = this.$refs.title.innerHTML
      const contentHtml = this.$refs.content.innerHTML
      const statusHtml = this.$refs.status.innerHTML
      const createByHtml = this.$refs.create_by.innerHTML
      doc.fromHTML(titleHtml, 80, 10, {
        width: 170
      })
      doc.fromHTML(contentHtml, 15, 30, {
        width: 170
      })
      doc.fromHTML(statusHtml, 15, 70, {
        width: 170
      })
      doc.fromHTML(createByHtml, 160, 120, {
        width: 170
      })
      doc.save('document.pdf')
    }
  }
}
</script>
