<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdrBA0iuV2tHhRdwe01B30hdKBurTjR7VR9wKwVIIlW11eu_rh&usqp=CAU); background-size: cover;"
        fluid
      >
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="#0286ab" dark flat>
                <v-toolbar-title>
                  <v-row>
                    <v-col>
                      <span style="font-size: 1.2em;">
                        Form-document
                      </span>
                    </v-col>
                  </v-row>
                </v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Username"
                    name="login"
                    color="#5CBB5C"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    color="#5CBB5C"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <div>
                  <v-btn
                    style="padding: 0.5em; border-radius: 5%; font-size: 0.81em;"
                    color="#0286ab"
                    dark
                    tile
                    class="mr-2"
                    @click="login"
                    >Login</v-btn
                  >
                </div>
              </v-card-actions>
              <div>
                <span style="font-size: 1em;">
                  username: test,
                </span>

                <span style="font-size: 1em;">
                  password: test
                </span>
              </div>
            </v-card>
            <v-snackbar
              v-model="alertSubmit"
              :timeout="1000"
              color="#0286ab"
              top
              >{{ textAlert }}</v-snackbar
            >
            <v-snackbar
              v-model="alertLogin"
              :timeout="1000"
              color="#0286ab"
              top
              >{{ textAlert_login }}</v-snackbar
            >
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    username: '',
    password: '',
    alertSubmit: false,
    alertLogin: false,
    textAlert: '',
    textAlert_login: ''
  }),
  methods: {
    login () {
      if (this.username === 'test' && this.password === 'test') {
        localStorage.username = this.username
        localStorage.password = this.password
        this.alertLogin = true
        this.textAlert_login = 'Login success.'
        if (this.alertLogin === true) {
          this.success()
        }
      } else {
        this.alertSubmit = true
        this.textAlert = 'Please enter username and password.'
      }
    },
    success () {
      setTimeout(() => this.$router.push({ path: '/home' }), 3000)
    }
  }
}
</script>
